<!DOCTYPE html>
<html lang="en">
<head>
    <title>Biostat B Process Monitor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1"/>
    <script src="/public/jquery.min.js" type="text/javascript"></script>
    <script src="/public/material.min.js"></script>
    <script src="/public/angular.min.js"></script>
    <script src="/public/angular-animate.min.js"></script>
    <script src="/public/angular-aria.min.js"></script>
    <script src="/public/angular-material.js"></script>
    <script src="/public/angular-route.min.js"></script>
    <script src="/public/angular-messages.min.js"></script>
    <script type="text/javascript" src="/public/gauge.js"></script>
    <script type="text/javascript" src="/public/angular-canvas-gauge.js"></script>
    <script type="text/javascript" src="/public/PercentageGauge.js"></script>
    <script src="/public/highcharts.js"></script>
    <script src="/public/highcharts-more.js"></script>
    <script src="/public/solid-gauge.js"></script>
    <script type="text/javascript" src="/public/md-data-table.js"></script>
    <script type="text/javascript" src="/public/core.js"></script>
    <script src="public/d3.min.js"></script>
    <script src="public/LineChart.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/angular-material.min.css"/>
    <link rel="stylesheet" href="/public/biostat.css"/>
    <link href="/public/md-data-table.css" rel="stylesheet" type="text/css"/>
    <link href="/public/table.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/public/LineChart.css">
</head>

<body layout="column" ng-app="MyApp">
<!-- <body layout="column" style="width: 95%; height: 95%; top: 2%; left: 2%;"> -->
<div id="appScope" ng-controller="AppCtrl">
    <!--
    <div class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak=""
         ng-init="dialog.show = true; dialog.msg='oi'; dialog.text='oi'">
    </div>
    -->
    <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex">
        <md-tab label="Dashboard">
            <md-grid-list md-cols-xs="4" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1.15:1"
                          md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;" layout="row" layout-align="center center">
                        <p ng-bind="data.time" class="monitors unselectable"></p>
                        <md-grid-tile-footer layout="row" layout-align="center center">
                            <h3>Time</h3>
                        </md-grid-tile-footer>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;" layout="row" layout-align="center center">
                        <p ng-bind="data.temp" class="monitors unselectable"></p>
                        <md-grid-tile-footer layout="row" layout-align="center center">
                            <h3>Temperatura (°C)</h3>
                        </md-grid-tile-footer>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;" layout="row" layout-align="center center">
                        <p ng-bind="data.airflow" class="monitors unselectable"></p>
                        <md-grid-tile-footer layout="row" layout-align="center center">
                            <h3>AirFlow (L/min)</h3>
                        </md-grid-tile-footer>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;" layout="row" layout-align="center center">
                        <p ng-bind="data.ph" class="monitors unselectable"></p>
                        <md-grid-tile-footer layout="row" layout-align="center center">
                            <h3>pH</h3>
                        </md-grid-tile-footer>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile class="gray" md-rowspan="2" md-colspan="2">
                    <md-card style="width: 100%;height: 95%;" layout="row" layout-align="center center">
                        <canvas canvas-gauge
                                id="myCanvas"
                                width="{{gauge.width}}"
                                height="{{gauge.height}}"
                                data-value="{{data.rotation}}"
                                data-title="Rotação"
                                data-min-value="0"
                                data-max-value="1100"
                                data-major-ticks="0 100 200 300 400 500 600 700 800 900 1000 1100"
                                data-minor-ticks="2"
                                data-stroke-ticks="true"
                                data-units="rpm"
                                data-value-format="4.0"
                                data-glow="true"
                                data-animation-delay="10"
                                data-animation-duration="200"
                                data-animation-fn="bounce"
                                data-colors-needle="#f00 #00f"
                                data-highlights="0 100 #eee, 100 650 #ccc, 650 900 #aaa, 900 1100 #eaa"
                                data-circles-outervisible="true"
                                data-circles-middlevisible="true"
                                data-circles-innervisible="true"
                                data-valuebox-visible="true"
                                data-valuetext-visible="true"
                                data-colors-needle-start="rgba(240, 128, 128, 1)"
                                data-colors-needle-end="rgba(255, 160, 122, .9)"
                                data-colors-needle-shadowup="rgba(2, 255, 255, 0.2)"
                                data-colors-needle-shadowdown="rgba(188, 143, 143, 0.45)"
                                data-colors-needle-circle-outerstart="#f0f0f0"
                                data-colors-needle-circle-outerend="#ccc"
                                data-colors-needle-circle-innerstart="#e8e8e8"
                                data-colors-needle-circle-innerend="#f5f5f5"
                                data-colors-valuebox-rectstart="#888"
                                data-colors-valuebox-rectend="#666"
                                data-colors-valuebox-background="#babab2"
                                data-colors-valuebox-shadow="rgba(0, 0, 0, 1)"
                                data-colors-valuetext-foreground="#444"
                                data-colors-valuetext-shadow="rgba(0, 0, 0, 0.3)"
                                data-colors-circle-shadow="rgba(0, 0, 0, 0.3)"
                                data-colors-circle-outerstart="#ddd"
                                data-colors-circle-outerend="#aaa"
                                data-colors-circle-middlestart="#eee"
                                data-colors-circle-middleend="#f0f0f0"
                                data-colors-circle-innerstart="#fafafa"
                                data-colors-circle-innerend="#ccc"
                        ></canvas>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;" layout="row" layout-align="center center">
                        <p ng-bind="data.level" class="monitors unselectable"></p>
                        <md-grid-tile-footer layout="row" layout-align="center center">
                            <h3>Level (mL)</h3>
                        </md-grid-tile-footer>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;" layout="row" layout-align="center center">
                        <p ng-bind="data.afoam" class="monitors unselectable"></p>
                        <md-grid-tile-footer layout="row" layout-align="center center">
                            <h3>AFOAM (%)</h3>
                        </md-grid-tile-footer>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;" layout="row" layout-align="center center">
                        <p ng-bind="data.subs1t" class="monitors unselectable"></p>

                        <md-grid-tile-footer layout="row" layout-align="center center">
                            <h3>SUBS 1T</h3>
                        </md-grid-tile-footer>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;" layout="row" layout-align="center center">
                        <p ng-bind="data.subs2t" class="monitors unselectable"></p>
                        <md-grid-tile-footer layout="row" layout-align="center center">
                            <h3>SUBS 2T</h3>
                        </md-grid-tile-footer>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;">
                        <div id="subs1" style="width:16%; height: 26%;"></div>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;">
                        <div id="subs2" style="width:16%; height: 26%;"></div>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;">
                        <div id="acid" style="width:16%; height: 26%;"></div>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;">
                        <div id="base" style="width:16%; height: 26%;"></div>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;">
                        <div id="gasmx" style="width:16%; height: 26%;"></div>
                    </md-card>
                </md-grid-tile>
                <md-grid-tile>
                    <md-card style="width: 100%;height: 90%;">
                        <div id="po2" style="width:16%; height: 26%;"></div>
                    </md-card>
                </md-grid-tile>

            </md-grid-list>
        </md-tab>
        <md-tab label="Monitoramento Online" layout="column" id="MonTab">
            <md-card style="margin: 1%;padding: 1%;height: 85vh; overflow: auto;">
                <md-grid-list md-cols-xs="2" md-cols-sm="1" md-cols-md="1" md-cols-gt-md="2" md-row-height-gt-md="2.6:1"
                              md-row-height-gt-xs="2.5:1"
                              md-row-height="1:1" md-gutter="5vh" md-gutter-gt-sm="5vh">
                    <md-grid-tile>
                        <linechart data="gdata" options="graph_options_1"></linechart>
                    </md-grid-tile>
                    <md-grid-tile>
                        <linechart data="gdata" options="graph_options_2"></linechart>
                    </md-grid-tile>
                    <md-grid-tile>
                        <linechart data="gdata" options="graph_options_3"></linechart>
                    </md-grid-tile>
                    <md-grid-tile>
                        <linechart data="gdata" options="graph_options_4"></linechart>
                    </md-grid-tile>
                </md-grid-list>
            </md-card>
        </md-tab>
        <md-tab label="Configurações">
            <md-card style="margin: 1%;height: 85vh; overflow: auto;padding: 2% 0 0 1%;">
                <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="4" md-row-height-gt-md="1.2:1"
                              md-row-height="1:1" md-gutter="2vh" md-gutter-gt-sm="2vh">
                    <md-grid-tile>
                        <md-card style="height:100%; width: 100%; padding: 5%;" layout="column"
                                 layout-align="space-between space-between">
                            <span class="md-headline">Info. do Experimento</span>
                            <div style="height: 80%;" layout="column" id="swd"
                                 layout-align="center space-between">
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" style="margin: 0 0 5% 0;">
                                        <label>User ID</label>
                                        <input required="" name="userID" ng-model="server.project.user" title=""
                                               disabled>
                                        <div ng-messages="server.project.user.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" style="margin: 0 0 5% 0;">
                                        <label>Series ID</label>
                                        <input required="" name="seriesID" ng-model="server.project.series" title=""
                                               disabled>
                                        <div ng-messages="server.project.series.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block" style="margin: 0 5% 0 0;">
                                    <label>Project ID</label>
                                    <input required="" name="projectID" ng-model="server.project.id" title="">
                                    <div ng-messages="server.project.id.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                                <br>
                                <md-switch
                                        ng-disabled="server.project.id == undefined || server.project.user == undefined || server.project.series == undefined"
                                        ng-model='server.logger' aria-label="Switch 1" style="margin: 0 5% 0 0;"
                                        ng-change="trigger()">
                                    Gravar dados
                                </md-switch>
                            </div>
                        </md-card>
                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="1">
                        <md-card layout="column" layout-align="space-between end"
                                 style="height:100%; width: 100%; padding-left: 5%;padding-right: 5%;padding-bottom: 5%;">
                            <md-card-title style="padding-left: 1%;margin-top: -3%;">
                                <md-card-title-text>
                                    <span class="md-headline">Modelo de Interpolação</span>
                                    <!-- <span class="md-subhead">Large</span> -->
                                </md-card-title-text>
                            </md-card-title>
                            <md-input-container style="width: 90%;padding-right: 5%;">
                                <label>Gráfico I</label>
                                <md-select ng-model="config.interpolation.g1"
                                           style="min-width: 200px;">
                                    <md-option value="{{interpolation.model}}"
                                               ng-repeat="interpolation in interpolations">
                                        {{interpolation.model}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container style="width: 90%;padding-right: 5%;">
                                <label>Gráfico II</label>
                                <md-select ng-model="config.interpolation.g2"
                                           style="min-width: 200px;">
                                    <md-option value="{{interpolation.model}}"
                                               ng-repeat="interpolation in interpolations">
                                        {{interpolation.model}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container style="width: 90%;padding-right: 5%;">
                                <label>Gráfico III</label>
                                <md-select ng-model="config.interpolation.g3"
                                           style="min-width: 200px;">
                                    <md-option value="{{interpolation.model}}"
                                               ng-repeat="interpolation in interpolations">
                                        {{interpolation.model}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container style="width: 90%;padding-right: 5%;">
                                <label>Gráfico IV</label>
                                <md-select ng-model="config.interpolation.g4"
                                           style="min-width: 200px;">
                                    <md-option value="{{interpolation.model}}"
                                               ng-repeat="interpolation in interpolations">
                                        {{interpolation.model}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-button ng-click="doIt()" style="width: 50%;" class="md-primary md-raised">Alterar
                            </md-button>
                        </md-card>
                    </md-grid-tile>
                </md-grid-list>
            </md-card>
        </md-tab>
        <md-tab label="Planilha de dados">
            <md-content layout="column" flex ng-controller="dataController" style="background: #fcfcfc;">
                <md-card ng-include="'templates/data-table.html'"
                         style="margin: 1%;height: 85vh; overflow: auto;padding: 2% 0 0 1%;"></md-card>
            </md-content>
        </md-tab>
    </md-tabs>
    <!-- angular.element($0).parent().scope().data -->
</div>
</body>
</html>