html, body {
    background: url('noise.png');
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Digital7";
    src: url("/fonts/digital-7-mono.ttf");
}

.monitors {
    font-family: Digital7, monospace;
    font-size: 5em;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/